/*background color set*/
.bg-back{
    background-color: #C8EFEA;
}
.bg-base{
    background-color: #009F8C;
}
.bg-sub1{
    background-color: #40BFB0;
}
.bg-sub2{
    background-color: #FFFFFF;
}
.bg-sub3{
    background-color: #C7243A;
}

/*text color set*/
.txt-back{
    color: #C8EFEA;
}
.txt-base{
    color: #009F8C;
}
.txt-sub1{
    color: #40BFB0;
}
.txt-sub2{
    color: #FFFFFF;
}
.txt-sub3{
    color: #C7243A;
}
