/*bg-color setting*/
.bg-backColor{
    background-color: #FFFFFF;
}
.bg-baseColor{
    background-color: #41466F;
}
.bg-subColor1{
    background-color: #546383;
}
.bg-subColor2{
    background-color: #AAAAAA;
}
.bg-subColor3{
    background-color: #C7243A;
}
.bg-subColor4{
    background-color: #FFEE55;
}
/*font color setting*/
.txt-backColor{
    color: #FFFFFF;
}
.txt-baseColor{
    color: #41466F;
}
.txt-subColor1{
    color: #546383;
}
.txt-subColor2{
    color: #AAAAAA;
}
.txt-subColor3{
    color: #C7243A;
}
.txt-subColor4{
    color: #FFEE55;
}
